h1 {
    font-family: 'Crimson Text', serif;
    font-size: 200%;
    text-align: center;
}


body {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;

}

.trips {
    float: left;
    width: 45%;
    padding: 20px;
    margin: 10px;
    background-color: lightgray;
    border-radius: 25px;
}

a:link {
    text-align: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img.trip {
    width: 45%;

}

.tripActions li {
    display: inline-block;
}

.tripActions li a {
    text-decoration: none;
    padding-top: 40px;
    padding-right: 40px;
    font-weight: bold;
}

.tags li {
    display: inline-block;
}

.tags li a {
    text-decoration: none;
    padding-top: 40px;
    padding-right: 40px;
    font-weight: bold;
}


.required {
    font-style: italic;
    margin-bottom: 20px;
}


input[type=text]{
    display: block;
    margin : 0 auto;
    margin-bottom: 20px;
}

div.error {
    font-size: smaller;
    font-style: italic;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

a.nav {
    font-weight: bold;
}

.nav {
    font-size: 120%;
    padding-bottom: 20px;
}